.loaded_hiding .bubblingG {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .bubblingG {
  display: none;
}
/* кынець */
/*индикатор загрузки*/
.bubblingG {
  position: fixed;
  left: 0;
  top: 40%;
  right: 0;
  bottom: 0;
  z-index: 1001;
  text-align: center;
  /* width: 140px;
  height: 88px; */
  margin: auto;
}

.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  margin: 44px auto;
  background: rgb(97, 223, 255);
  border-radius: 88px;
  -o-border-radius: 88px;
  -ms-border-radius: 88px;
  -webkit-border-radius: 88px;
  -moz-border-radius: 88px;
  animation: bubblingG 2.08s infinite alternate;
  -o-animation: bubblingG 2.08s infinite alternate;
  -ms-animation: bubblingG 2.08s infinite alternate;
  -webkit-animation: bubblingG 2.08s infinite alternate;
  -moz-animation: bubblingG 2.08s infinite alternate;
}

#bubblingG_1 {
  animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

#bubblingG_2 {
  animation-delay: 0.62s;
  -o-animation-delay: 0.62s;
  -ms-animation-delay: 0.62s;
  -webkit-animation-delay: 0.62s;
  -moz-animation-delay: 0.62s;
}

#bubblingG_3 {
  animation-delay: 1.25s;
  -o-animation-delay: 1.25s;
  -ms-animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
}

@keyframes bubblingG {
  0% {
    width: 18px;
    height: 18px;
    background-color: rgb(255, 173, 102);
    transform: translateY(0);
  }

  100% {
    width: 42px;
    height: 42px;
    background-color: rgb(135, 247, 255);
    transform: translateY(-37px);
  }
}

@-o-keyframes bubblingG {
  0% {
    width: 18px;
    height: 18px;
    background-color: rgb(255, 173, 102);
    -o-transform: translateY(0);
  }

  100% {
    width: 42px;
    height: 42px;
    background-color: rgb(135, 247, 255);
    -o-transform: translateY(-37px);
  }
}

@-ms-keyframes bubblingG {
  0% {
    width: 18px;
    height: 18px;
    background-color: rgb(255, 173, 102);
    -ms-transform: translateY(0);
  }

  100% {
    width: 42px;
    height: 42px;
    background-color: rgb(135, 247, 255);
    -ms-transform: translateY(-37px);
  }
}

@-webkit-keyframes bubblingG {
  0% {
    width: 18px;
    height: 18px;
    background-color: rgb(255, 173, 102);
    -webkit-transform: translateY(0);
  }

  100% {
    width: 42px;
    height: 42px;
    background-color: rgb(135, 247, 255);
    -webkit-transform: translateY(-37px);
  }
}

@-moz-keyframes bubblingG {
  0% {
    width: 18px;
    height: 18px;
    background-color: rgb(255, 173, 102);
    -moz-transform: translateY(0);
  }

  100% {
    width: 42px;
    height: 42px;
    background-color: rgb(135, 247, 255);
    -moz-transform: translateY(-37px);
  }
}
